spring:
  application:
    name: league-of-coding-api

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/league_of_coding
    username: postgres
    password: { DB_PASSWORD:change_me }

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never

  flyway:
    locations: classpath:db/migration
    enabled: true
    baseline-on-migrate: true
    validate-on-migrate: true

server:
  port: 8080

logging:
  level:
    com.leagueofcoding.api: DEBUG
    org.springframework.web: INFO
    org.hibernate.sql: DEBUG